body{
  margin: 0px;
  font-family: 'Kodchasan', sans-serif;
}

.app{
  background-color: #fff;
}

.appHeader{
  height: 60px;
  width: 100%;
  background-color: #03a9f4;
}

.appHeaderName{
  margin-left: 1%;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}

.csvUploaderModal {
  position: fixed; 
  z-index: 9999;
  padding-top: 20%;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalContent{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 40%;
}

.modalUploadContent{
  text-align: center;
}

.modalUploadContentText{
  margin-right: 20px;
}

.csvUploadButton{
  padding: 2px;
  border: 1px solid #03a9f4;
  border-radius: 5px;
}


.csvUploadButton:hover{
  background-color: #03a9f4;
  color: #fff;
  cursor: pointer;
}

.loaderText{
  text-align: center;
  font-size: 20px;
}